html,body{line-height:24px;font-size:14px;font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;scrollbar-face-color:#ffffff;scrollbar-highlight-color:#ffffff;scrollbar-darkshadow-color:#ffffff;}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { margin: 0; padding: 0; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
table { border-collapse: collapse; border-spacing: 0; }
th { text-align: inherit; }
fieldset, img { border: 0;}
iframe { display: block; }
abbr, acronym { border: 0; font-variant: normal; }
del { text-decoration: line-through; }
address, caption, cite, code, dfn, em, th, var { font-style: normal; font-weight: 500; }
ol, ul { list-style: none; }
caption, th { text-align: left; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: 500; }
i,code,b{font-weight:normal;font-style: normal;}
code{background:transparent;border:none;}
a,a:hover,a:focus,a:visited{text-decoration: none;}
html,body,#wrapper{ height: 100%;}
#wrapper{
  overflow: hidden;
}
.bg-f3{
  background: #f3f3f3;
}
::-webkit-scrollbar-track {
  background-color: red;
}
/* ::-webkit-scrollbar {
    width: 2px;
} */
::-webkit-scrollbar-thumb {
  background-color: #4aa85a;
  border-radius: 15px;
}
iframe{border:none;}
.wrapper{min-height:100%;}
.wrapper-content{
  padding:20px 14px 14px 20px;
}
/*logo  star*/
.logo{
  width: 100%;
  height: 80px;
  overflow: hidden;
  background-image: url("../images/bg49.jpg");
}
.logo .logo-right ul{
  position: absolute;
  right: 0;
  top: 20px;
}
.logo .logo-right ul li{
  width: 30px;
  height: 30px;
  display: inline-block;
  background-color: white;
  text-align: center;
  border-radius: 20px;
  line-height: 30px;
  margin-right: 10px;
  cursor:pointer;
}
.logo .logo-right ul li i{
  font-size: 16px;
}
.logout{
  width: 70px;
  height: 40px;
  position: fixed;
  right: 1px;
  top: 81px;
  z-index: 99;
  background-color: #e6e6e6;
}
/*logo   end*/

/* sidebar-nav start */
.navbar-static-side{
  width:220px;position: fixed;top:80px; z-index: 99;height:100%;
  background: #2f4050;transition: all 0.5s;
}
.wrap-con,.navItem-con{
  height:100%;
}
.bg-gray {
  background: #f3f3f4;
}
/* sidebar-nav end */
.treeTable_length label{
  margin:10px 6px;
}
.pagination{
  margin:0;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
  background-color: #f4f4f4;
  border-color:#ddd;
  color:#333;
}
.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover{
  color:#333;
}
.page-list{
  margin-left:10px;
  line-height: 24px;
}
.pagination-detail{
  display: none;
  margin:8px 0;
  font-size:14px;
  color:#333;
}
#pag-sel{
  width:60px;
  outline:none;
}
.form-inline .form-control{
    width: 196px;
    margin-right:56px;
    border-radius: 3px;
    /*margin-left: 20px;*/
}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus{
  outline: none;
}

.autoWidth{width:1%;white-space: nowrap;}
/*.alignCenter{text-align: center;*/
/*color: white}*/
#treeTable a.btn{
  margin:5px 3px;
}
.pagination-box{
  margin-top:10px;
  margin-left: 10px;
}

table.treeTable{
  font-size:14px;
}

.titName {
  padding-left: 10px;
  position: relative;
  font-size: 16px;
  height: 30px;
  line-height: 30px;
}
.titName:before{
  content: "";
  width: 4px;
  height: 20px;
  background: #1ab394;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -10px;
}
.btn-info, .btn-info:hover, .btn-success, .btn-success:hover, .btn-primary, .btn-primary:hover {
  color: #fff;
  font-family: "微软雅黑";
}
.btn-allotApp{
  background-color: white;
  border-color: #ff7836;
  color: #ff7836;
}
.btn-allotApp:hover{
  background-color: #ff7836;
  border-color: #ff7836;
  color: white;
}
.btn-info {
  background-color: white;
  border-color: #ffa82d;
  color: #ffa82d}
.btn-info:hover {
  background-color: #ffa82d;
  border-color: #ffa82d; }
.btn-warning{
  background-color: white;
  border-color: #07c2d3;
  color: #07c2d3;
}
.btn-warning:hover{
  background-color: #07c2d3;
  color: white;
  border-color: #07c2d3;
}
.btn-success {
  background-color: white;
  border-color: #62b5e9;
  color: #62b5e9;
}
.btn-add{
  color: #ff7836 !important;
}
.btn-add:hover{
  background-color: #ff7836 !important;
  color: white !important;
}

.btn-success:hover {
  background-color: #1a7bb9;
  border-color: white;
}
.btn-primary {
  background-color: white;
  border-color: #ff7836;
  color: #ff7836;
}
.btn-primary:hover {
  background-color: #ff7836;
  border-color: #ff7836;
  color: white;
  }
.btn-danger{
  background-color: white;
  border-color: #f75c5c;
  color: #f75c5c;
}
.btn{
  background-repeat: no-repeat;
}
.btn-change i{
  display: inline-block;
  width: 12px;
  height: 12px;
  font-size: 12px;
  background-image: url("../images/icon.png");
  background-repeat: no-repeat;
}
.btn-empower{
  background-color: white;
  color: #51cd50;
  border-color: #51cd50;
}
.color{
  color: white !important;
}
.input-group-btn{
  background-color: #1ab394 !important;
}
.input-group-btn .btn-sousuo{
  background-color: #1ab394 !important;
  color: white !important;
}
.btn-empower:hover{
  background-color: #51cd50;
  color: white;
}
.btn-empower i{
  display: inline-block;
  width: 12px;
  height: 12px;
  font-size: 10px;
  background-image: url("../images/icon.png");
  background-repeat: no-repeat;
}
.icon-accredit{
  background-position: -448px  -10px;
}
.btn-empower:hover .icon-accredit{
  background-position: -448px  -32px;
}
.btn-mainProVal{
  color: #ff7836;
}
.btn-mainProVal i{
  display: inline-block;
  width: 12px;
  height: 12px;
  font-size: 10px;
  background-image: url("../images/icon.png");
  background-repeat: no-repeat;
}
 .icon-change{
  background-position: -24px -10px;
}
 .icon-maintain{
   background-position: -412px -10px;
 }
.btn-change:hover  .icon-change{
  background-position: -24px -32px;
}
.btn-mainProVal:hover .icon-maintain{
  background-position: -412px -32px;
}

.ibox-content .btn-white {
  font-family: Microsoft YaHei !important;
  color: inherit;
  background: white;
  font-size: 12px;
  border: 1px solid #e7e7e7;
}
